@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(255, 255, 255);
}

@keyframes move-right {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(25px); /* Ajusta el valor según la distancia que quieras mover */
    }
    100% {
      transform: translateX(0);
    }
  }